<!DOCTYPE HTML>
<html>
	<head>
		<title>HBO Max Recommener</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>HBO Max Recommender</h1>
						<p>A new way to find HBO Max contents while you wine and pizza.</p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">HBO Max Recommender</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="icons">
							<li><a href="https://github.com/mychetan" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Get Recommendation</a></h2>
									<form action="/submit">
										<h3>Please Enter Complete Movie/Show Title</h3>
										<p>
											<label for="Title">Title:</label>
											<input type="text" name="Title">
										</p>
										<p>
											<button class="button large">Submit</button>
										</p>
									</form>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>